p{

    background-color: rgb(196, 149, 124);
}

header{
    background-color: #333;
    color : rgb(21, 162, 194);
}

a{
    color: rgba(250, 237, 237, 0.87);
}

nav ul li{
    list-style-type: none; 
    display: inline;
    text-decoration: none;
}

li{
    padding: 50px;
    text-decoration: none;
}

